#portfolio
    padding: 80px 0
    background-color: #f8f9fa
    .textbox
        h1
            font-size: 40px
            font-weight: 700
        h3
            font-size: 18px
            font-weight: 400
            font-style: italic
            font-family: "Roboto Slab"
            color: #6c747a
            margin: 24px 0 64px
        h2
            font-size: 25px
            font-weight: 700
        h4
            font-size: 18px
            color: #6c747a
            font-style: italic
            font-family: "Roboto Slab"
    .imgbox
        position: relative
        .icon
            position: absolute
            top: 110px
            left: 155px
            color: #ffffff
            background-color: black
            i
                font-size: 48px
            
