body {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
}

.imgbox {
  overflow: hidden;
}
.imgbox img {
  width: 100%;
}

section {
  padding: 100px 0;
}

header {
  color: white;
  background-color: #2b2b2b;
  padding: 25px 0;
}
header .menu .imgbox {
  width: 140px;
}
header .menu nav a {
  font-size: 16px;
  font-weight: 400;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 1px;
  margin-right: 30px;
}

#services .textbox {
  padding: 0 10px;
}
#services .textbox h1 {
  font-size: 40px;
  font-weight: 700;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  letter-spacing: 1px;
}
#services .textbox h3 {
  color: #6c757d;
  font-size: 18px;
  font-family: Roboto Slab, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-style: italic;
  font-weight: 400;
  margin: 20px 0 64px;
}
#services .textbox h2 {
  font-size: 24px;
  font-weight: 700;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin: 20px 0 25px;
}
#services .textbox p {
  color: #6c757d;
  font-size: 18px;
  font-weight: 400;
  font-family: Roboto Slab, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  line-height: 1.6;
}
#services ul {
  display: flex;
  justify-content: center;
}
#services ul li {
  background-color: #ffd000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 130px;
  border-radius: 100%;
}
#services ul li .icon {
  color: white;
}
#services ul li .icon i {
  font-size: 60px;
}

#portfolio {
  padding: 80px 0;
  background-color: #f8f9fa;
}
#portfolio .textbox h1 {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 1.5px;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
#portfolio .textbox h3 {
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #6c747a;
  margin: 24px 0 64px;
}
#portfolio .box {
  background-color: white;
}
#portfolio .box .textbox {
  padding: 20px 0;
}
#portfolio .box .textbox h2 {
  font-size: 25px;
  font-weight: 700;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin-bottom: 12px;
}
#portfolio .box .textbox h4 {
  font-size: 18px;
  color: #6c747a;
  font-style: italic;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 400;
}
#portfolio .imgbox {
  position: relative;
}
#portfolio .imgbox .icon {
  color: white;
  background-color: #ffc800;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  opacity: 0;
}
#portfolio .imgbox .icon i {
  font-size: 60px;
}
#portfolio .imgbox:hover .icon {
  opacity: 0.9;
}

#welcome {
  color: white;
  background-image: url(https://startbootstrap.github.io/startbootstrap-agency/assets/img/header-bg.jpg);
  background-position: center center;
  background-size: cover;
  padding: 272px 0 200px;
}
#welcome h1 {
  font-size: 36px;
  font-style: italic;
  font-family: "Roboto Slab";
  font-weight: 500;
}
#welcome h2 {
  font-size: 72px;
  font-weight: 700;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin: 32px 0 64px;
}
#welcome .btn {
  color: white;
  background-color: #ffc800;
  font-size: 18px;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  padding: 20px 40px;
}

#amazing {
  background-color: #f8f9fa;
}
#amazing h1 {
  font-size: 40px;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
}
#amazing h3 {
  color: #6c757d;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin: 16px 0 64px;
}
#amazing h2 {
  font-size: 24px;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  margin-top: 24px;
}
#amazing h4 {
  color: #6c757d;
  font-size: 16px;
  font-weight: 400;
  font-family: Roboto Slab, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  margin: 10px 0 22px;
}
#amazing .txtbox {
  width: 670px;
}
#amazing .txtbox p {
  color: #6c757d;
  font-size: 16px;
  font-weight: 400;
  font-family: Roboto Slab, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  line-height: 1.6;
}
#amazing .box {
  margin-bottom: 48px;
}
#amazing .box .imgbox {
  border: 8px solid #e0e0e0;
  border-radius: 100%;
  width: 224px;
}
#amazing .box ul {
  display: flex;
  justify-content: center;
}
#amazing .box ul li {
  margin: 0 8px;
  background-color: #222222;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  width: 40px;
  height: 40px;
}
#amazing .box ul li .icon {
  color: white;
}
#amazing .box ul li .icon i {
  font-size: 16px;
}

#social {
  padding: 48px 0;
}

#contact {
  background-color: #212529;
  background-image: url(https://startbootstrap.github.io/startbootstrap-agency/assets/img/map-image.png);
  background-position: center;
}
#contact h1, #contact h3, #contact h4 {
  color: white;
}
#contact h1 {
  font-size: 40px;
  font-weight: 700;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
#contact h3 {
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #6c747a;
  margin: 16px 0 64px;
}
#contact .btn {
  background-color: #ffd900;
  padding: 20px 40px;
  font-size: 18px;
  font-weight: 700;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  opacity: 0.7;
}/*# sourceMappingURL=style.css.map */